---
title: ホテル椿山荘東京
---
.wrapper
  %header.global-header

.content
  .place-main-view
    .place-main-view__images
      %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
      %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
      %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
      %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
      %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }

  %header.place-header
    %h1.place-name ホテル椿山荘東京
    .place-
      .place-review
        .place-review__stars
          .place-review__star.-40
        .place-review__score 4.05

      .place-price
        .place-price__
          .place-price__number 333
          .place-price__unit 万円
        .place-price__people（60名）

    .place-building
      %ul.place-building__location
        %li
          %a.place-building__location--link{ href: "#" } 東京
        %li
          %a.place-building__location--link{ href: "#" } 文京・池袋・練馬・板橋エリア
      .place-building__stations
        最寄駅
        %a.place-building__station-link{ href: "#" } 江戸川駅
      .place-building__genre
        会場ジャンル
        %a.place-building__genre-link{ href: "#" } ホテル

  %p.place-message
    さながら森のような庭園に包まれて。残わずか！1/25(土)【国産牛フィレ＆オマール食べ比べフェア】

  %gnav.place-navigation
    .place-tablist
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 概要
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 口コミ
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 費用
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 写真
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label フェア
        .place-tablist__tab-indicator
          .place-tablist__tab-underline

  %section.place-reviews
    %h2.headline.-h2 口コミ

  %section.place-3reasons
    %h2.headline.-h2 みんなに選ばれる3つの理由

  %section.place-price
    %h2.headline.-h2 費用・料金プラン
    %h3.headline.-h3 費用
    %h3.headline.-h3 料金プラン

  %section.place-question
    %h2.headline.-h2 相談しよう

  %section.place-wedding-reports
    %h2.headline.-h2 結婚式レポ
    %h3.headline.-h3 みんなの投稿

  %section.place-fairs
    %h2.headline.-h2 予約できるブライダルフェア

  %section.place-privileges
    %h2.headline.-h2 この式場のイチオシ特典！

  %section.place-actions
    %h2.headline.-h2 お問い合わせ

  %section.place-recommend
    %h2.headline.-h2 この式場を検討した人はこんな式場も検討しています

    %h3.headline.-h3 同じ会場ジャンル

    %h3.headline.-h3 同じエリア内の口コミランキング
    %ul.list
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-icon
              %span.symbol-ranking-1
            %span.list__item-text "嘉ノ雅" 茗渓館
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-icon
              %span.symbol-ranking-2
            %span.list__item-text リビエラ東京
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-icon
              %span.symbol-ranking-3
            %span.list__item-text ホテルメトロポリタン
    %a.see-more{ href: "#" } ランキングをもっと見る

    %h3.headline.-h3 同じエリアの他の式場
    %ul.list
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-text 文京・池袋・練馬・板橋エリア
          .list__contents-after
            %span.badge 61
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-text 東京都
          .list__contents-after
            %span.badge 1013

    %h3.headline.-h3
      %span.label-pr PR
      注目の情報

  %section.place-same-aria-articles
    %h2.headline.-h2 文京・池袋・練馬・板橋に関連する記事

  %section.place-search
    %h2.headline.-h2 この式場について検索する

  %section.place-basic
    %h2.headline.-h2 基本情報

    %h3.headline.-h3 式場設備・サービス

    %h3.headline.-h3 公式情報
    %p
      この式場で挙式・披露宴を検討されている方の専用フリーダイヤルです。その他の目的でのご利用はご遠慮ください。

  .place-fixed-menu

%footer.global-footer
  