---
title: ホテル椿山荘東京
---
.wrapper
  %header.global-header

.place-content
  .place-main-view
    .place-main-view__images
      .place-main-view__images-aria
        %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
        %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
        %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
        %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }
        %img.place-main-view__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/P001/328x328c/alb2/7/761/uf73h8421gocmrd6310g8kalqte7310.jpg" }

  %header.place-header
    %h1.place-name ホテル椿山荘東京
    .place-
      .place-review
        .place-review__stars
          .place-review__star.-40
        .place-review__score 4.05

      .place-price
        .place-price__
          .place-price__number 333
          .place-price__unit 万円
        .place-price__people（60名）

    .place-building
      %ul.place-building__location
        %li
          %a.place-building__location--link{ href: "#" } 東京
        %li
          %a.place-building__location--link{ href: "#" } 文京・池袋・練馬・板橋エリア
      .place-building__stations
        最寄駅
        %a.place-building__station-link{ href: "#" } 江戸川駅
      .place-building__genre
        会場ジャンル
        %a.place-building__genre-link{ href: "#" } ホテル

  %p.place-message
    さながら森のような庭園に包まれて。残わずか！1/25(土)【国産牛フィレ＆オマール食べ比べフェア】

  %gnav.place-navigation
    .place-tablist
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 概要
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 口コミ
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 費用
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label 写真
        .place-tablist__tab-indicator
          .place-tablist__tab-underline
      .place-tablist__tab
        .place-tablist__tab-contents
          .place-tablist__tab-icon
          .place-tablist__tab-label フェア
        .place-tablist__tab-indicator
          .place-tablist__tab-underline

  %section.place-reviews
    %h2.headline.-h2 口コミ

  %section.place-3reasons
    %h2.headline.-h2 みんなに選ばれる3つの理由

  %section.place-price
    %h2.headline.-h2 費用・料金プラン
    %h3.headline.-h3 費用
    %h3.headline.-h3 料金プラン

  %section.place-questions
    %h2.headline.-h2 相談しよう
    %p
      %img{ src: "https://img2.mwed.jp/smartphone/place/community/brides.png" }
    %a{ href: "#" } 相談する
    %p 相談にはログインが必要です
    -# 最大3つ
    .place-question
      .place-question__questioner
        .place-question__questioner-thumbnail
        .place-question__questioner-emotion
        .place-question__questioner-name みんなのウェディング
        .place-question__questioner-state [卒花嫁]
      .place-question__title ウェルカムドリンクはプランに含まれる？
      .place-question__descripiton
        契約時にホワイエでウェルカムドリンクを出せると聞いていましたが、見積もりのプランに含まれているのかを改めて聞き忘れてしまいました。
      .place-question__category
        料理・ドリンク
      .place-question__answer-count 8
      .place-question__label NEW
    %a.see-more{ href: "#" } もっと見る

  %section.place-wedding-reports
    %h2.headline.-h2 結婚式レポ

    %h3.headline.-h3 編集部が取材
    -# 最大3つ
    .place-wedding-report
      .place-wedding-report__thumbnail
      %img{ src: "https://img2.mwed.jp/c/w=160,h=160,a=2,r=auto/u/057/0575060224.jpg", width: 80 }
      .place-wedding-report__title
        「食」に感謝の気持ちを込めたホテル婚＊理想を叶えたアットホームウェディング
      .place-wedding-report__datetime
        2020年11月11日
      .place-wedding-report__author
        .place-wedding-report__author-thumbnail
        .place-wedding-report__author-name みんなのウェディング
        .place-wedding-report__author-state [卒花嫁]
    %a.see-more{ href: "#" } もっと見る

    %h3.headline.-h3 みんなの投稿
    -# 最大2つ
    .place-wedding-report
      .place-wedding-report__thumbnail
      %img{ src: "https://img2.mwed.jp/c/w=160,h=160,a=2,r=auto/u/057/0575060224.jpg", width: 80 }
      .place-wedding-report__title
        「食」に感謝の気持ちを込めたホテル婚＊理想を叶えたアットホームウェディング
      .place-wedding-report__datetime
        2020年11月11日
      .place-wedding-report__author
        .place-wedding-report__author-thumbnail
        .place-wedding-report__author-name みんなのウェディング
        .place-wedding-report__author-state [卒花嫁]
    %a.see-more{ href: "#" } もっと見る

  %section.place-fairs
    %h2.headline.-h2 予約できるブライダルフェア
    .place-fair
      .place-fair__thumbnail
        %img{ src: "https://img.mwed.jp/c/w=160,h=160,a=2,r=auto/fair/6/366/se7310g8kqdmrtuf7jpc63hosuf7310.jpg", width: 80 }
      .place-fair__datetime
        .place-fair__datetime-year 2020年
        .place-fair__datetime-date 1月26日（日）
        .place-fair__datetime-time 9:00～15:30
      .place-fair__title 光×緑×独立型の神殿で挙式体感＆無料試食フェア

    .place-fair
      .place-fair__thumbnail
        %img{ src: "https://img.mwed.jp/c/w=160,h=160,a=2,r=auto/fair/6/366/se7310g8kqdmrtuf7jpc63hosuf7310.jpg", width: 80 }
      .place-fair__datetime
        .place-fair__datetime-year 2020年
        .place-fair__datetime-date 1月26日（日）
        .place-fair__datetime-time 9:00～15:30
      .place-fair__title 光×緑×独立型の神殿で挙式体感＆無料試食フェア

    .place-fair
      .place-fair__thumbnail
        %img{ src: "https://img.mwed.jp/c/w=160,h=160,a=2,r=auto/fair/6/366/se7310g8kqdmrtuf7jpc63hosuf7310.jpg", width: 80 }
      .place-fair__datetime
        .place-fair__datetime-year 2020年
        .place-fair__datetime-date 1月26日（日）
        .place-fair__datetime-time 9:00～15:30
      .place-fair__title 光×緑×独立型の神殿で挙式体感＆無料試食フェア

    .place-fair
      .place-fair__thumbnail
        %img{ src: "https://img.mwed.jp/c/w=160,h=160,a=2,r=auto/fair/6/366/se7310g8kqdmrtuf7jpc63hosuf7310.jpg", width: 80 }
      .place-fair__datetime
        .place-fair__datetime-year 2020年
        .place-fair__datetime-date 1月26日（日）
        .place-fair__datetime-time 9:00～15:30
      .place-fair__title 光×緑×独立型の神殿で挙式体感＆無料試食フェア

  %section.place-privileges
    %h2.headline.-h2 この式場のイチオシ特典！

    .place-privilege
      .place-privilege__label 見学特典
      .place-privilege__title《ゲストから高評価》絶品お料理の無料試食フェア

    .place-privilege
      .place-privilege__label 成約特典
      .place-privilege__title 新郎新婦宿泊２泊プレゼント（朝食込2泊）

  %section.place-actions
    %h2.headline.-h2 お問い合わせ
    %p
      通話無料
      %br
      %a{ href: "tel:09012345678" } 09012345678
    %p
      ホテル椿山荘東京のウェディング専用ダイヤルです。
      %br
      この式場で挙式・披露宴を検討されている方の専用フリーダイヤルです。その他の目的でのご利用はご遠慮ください。※IP電話からはつながりません。通常回線・携帯電話などからご利用ください。

    %p
      この式場が気になったら、まずはブライダルフェアの予約をしよう！

    %p
      空き日程などの確認や資料のお問い合せはこちら
      %ul
        %li
          %a{ href: "#" } 見学予約する
        %li
          %a{ href: "#" } 資料請求する
        %li
          %a{ href: "#" } お問い合わせ

  %section.place-recommend
    %h2.headline.-h2 この式場を検討した人はこんな式場も検討しています

    .place
      .place__name リーガロイヤルホテル東京
      .place__thumbnail
        %img{ src: "https://img.mwed.jp/c/w=160,h=160,a=2,r=auto/alb2/7/849/nrd631000gose7jpcmb521g84i94210.jpg", width: 80 }
      .place__area 新宿・中野・杉並
      .place__price
        %span 平均 約
        %span.place__price 317
        %span.place__price-per 万円
        %span.place__ （101名）
      .place__score 4.29

    %h3.headline.-h3 同じ会場ジャンル
    %ul.list
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-text ホテルについて詳しく
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-text 東京のホテルで選ぶ

    %h3.headline.-h3 同じエリア内の口コミランキング
    %ul.list
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-icon
              %span.ranking-badge.-ranking-1
            %span.list__item-text "嘉ノ雅" 茗渓館
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-icon
              %span.ranking-badge.-ranking-2
            %span.list__item-text リビエラ東京
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-icon
              %span.ranking-badge.-ranking-3
            %span.list__item-text ホテルメトロポリタン
    %a.see-more{ href: "#" } ランキングをもっと見る

    %h3.headline.-h3 同じエリアの他の式場
    %ul.list
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-text 文京・池袋・練馬・板橋エリア
          .list__contents-after
            %span.badge 61
      %li.list__item
        %a.list__contents{ href: "#" }
          .list__contents-before
            %span.list__item-text 東京都
          .list__contents-after
            %span.badge 1013

    %h3.headline.-h3
      %span.label-pr PR
      注目の情報
    %a{ href: "#" }
      大聖堂挙式が89,000円！挙式＆新郎新婦衣装＆ヘアメイク全て込！
      %br
      by セレス高田馬場サンタアンジェリ大聖堂

  %section.place-same-aria-articles
    %h2.headline.-h2 文京・池袋・練馬・板橋に関連する記事

    .article
      %img{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/C001/160x160cq70/u/058/0580505286.jpg", width: "80" }
      .title 【東京・池袋】口コミで料理の評判がいい結婚式場7選！
    .article
      %img{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/C001/160x160cq70/u/058/0580505286.jpg", width: "80" }
      .title 【東京・池袋】口コミで料理の評判がいい結婚式場7選！

  %section.place-search
    %h2.headline.-h2 この式場について検索する

  %section.place-basic
    %h2.headline.-h2 基本情報

    %h3.headline.-h3 式場設備・サービス
    %h4.headline.-h4 持込
    %ul.place-specifications
      %li.place-specifications__item 衣装
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 司会
      %li.place-specifications__item.-disable 全て無料

    %h4.headline.-h4 設備・サービス
    %ul.place-specifications
      %li.place-specifications__item 衣装
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 司会
      %li.place-specifications__item 衣装
      %li.place-specifications__item 衣装
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 司会
      %li.place-specifications__item 衣装
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 司会
      %li.place-specifications__item.-disable 全て無料

    %h4.headline.-h4 料理
    %ul.place-specifications
      %li.place-specifications__item 衣装
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 司会
      %li.place-specifications__item.-disable 全て無料

    %h4.headline.-h4 費用・割引
    %ul.place-specifications
      %li.place-specifications__item.-disable 衣装
      %li.place-specifications__item 引き出物
      %li.place-specifications__item 司会
      %li.place-specifications__item 全て無料

    %a.see-more{ href: "#" } 式場設備・サービスをくわしく

    %h3.headline.-h3 公式情報
    %p
      この式場で挙式・披露宴を検討されている方の専用フリーダイヤルです。その他の目的でのご利用はご遠慮ください。
    %table.default-table
      %tbody
        %tr
          %th.default-th 会場名
          %td.default-td ホテル椿山荘東京
        %tr
          %th.default-th 挙式スタイル
          %td.default-td 教会,神前,人前,仏前,その他
        %tr
          %th.default-th 収容人数
          %td.default-td 2人～630人
        %tr
          %th.default-th TEL・予約
          %td.default-td
            通話無料
            %br
            %a{ href: "tel:0066-9680-557365" } 0066-9680-557365
        %tr
          %th.default-th 定休日
          %td.default-td 火曜日（祝休日除く）　
        %tr
          %th.default-th 受付時間
          %td.default-td 平日１１：００－１９：００／土日祝１０：００－１９：００
        %tr
          %th.default-th 住所
          %td.default-td
            東京都文京区関口2-10-8
            %br
            %a{ href: "/hall/10347/access/" } アクセス情報へ

  .place-fixed-menu

%footer.global-footer
  