

.tablist {
  // display: inline-table;
  display: flex;

  .tablist__tab {
    // display: table-cell;
    width: 200px;
    position: relative;

    // &:hover {
    //   .tablist__tab-underline {
    //     transform: translate(400px, 0px);
    //   }
    // }

    &[aria-selected="true"] {
      .tablist__tab-label {
        color: #000000;
        font-weight: bold;
      }

      .tablist__tab-underline {
        // border-color: greenyellow;
        border-top-color: greenyellow;
        opacity: 1;
      }
    }
  }

  .tablist__tab-contents {
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 0%;
  }

  .tablist__tab-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // border: 1px solid blue;
    // box-sizing: border-box;
    z-index: 1;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    min-height: 100%;
  }

  .tablist__tab-label {
    color: #666666;
    padding: 10px;
  }

  .tablist__tab-underline {
    // border-color: transparent;
    border-width: 2px;
    border-top-style: solid;
    opacity: 0;

    transition-duration: 0.25s;
    transition-delay: 0s;
    // transition-property: transform, opacity;
    // transition-property: transform, border-top-color, opacity;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
