.sheets-bottom {
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 10px 8px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 2;

  background-color: #ffffff;

  width: calc( 100% - 2em );
  height: 80vh;
  margin: 0 1em;

  overflow: hidden;

  box-sizing: border-box;
  border: 1px solid red;
}