$symbol-unicodes: (
  access: "\e900",
  arrow-down: "\e901",
  arrow-left: "\e902",
  arrow-oval-down: "\e903",
  arrow-oval-left: "\e904",
  arrow-oval-up: "\e906",
  arrow-right: "\e907",
  arrow-up: "\e908",
  arrow-oval-right: "\e905",
  attention: "\e909",
  book: "\e90a",
  calendar: "\e90b",
  caution: "\e90c",
  clip: "\e90d",
  consultation: "\e944",
  crown: "\e90e",
  delete: "\e90f",
  desk: "\e910",
  diamond-line: "\e911",
  dish: "\e912",
  dress: "\e913",
  external-link: "\e914",
  facebook: "\e915",
  fukidashi: "\e916",
  good: "\e917",
  gosyugi: "\e918",
  heart-line: "\e919",
  heart: "\e91a",
  hiyou: "\e91b",
  kuchikomi: "\e91c",
  like: "\e91d",
  lock-close: "\e91e",
  lock-open: "\e91f",
  mail-love: "\e920",
  mail: "\e921",
  map: "\e922",
  menu: "\e923",
  my: "\e924",
  news: "\e925",
  party: "\e926",
  pencil: "\e927",
  phone: "\e928",
  photo: "\e929",
  place-genre: "\e92a",
  plane: "\e92b",
  point: "\e92c",
  present: "\e92d",
  question: "\e92e",
  ranking-1: "\e92f",
  ranking-2: "\e930",
  ranking-3: "\e931",
  reply: "\e932",
  ribbon: "\e933",
  ring: "\e934",
  search: "\e935",
  send: "\e936",
  sodan: "\e937",
  star-half: "\e938",
  star-line: "\e939",
  star: "\e93a",
  talk: "\e93b",
  tell: "\e93c",
  trend: "\e93f",
  trivia: "\e940",
  twitter: "\e93d",
  heart-thin-line: "\e93e",
  wakaba: "\e94c"
);

@each $symbol, $unicode in $symbol-unicodes {
  .symbol-#{$symbol}:before {
    @include symbol-base;
    content: "#{$unicode}";
  }
}
