.place-cost-average {
  text-align: center;

  .place-cost-average__price-value {
    display: inline-block;

    // 
    @include symbol-base;
    text-decoration-skip-ink: none;

    // page-title  相当
    font-weight: bold;
    font-size: 34px;
    // letter-spacing: -2px;
    // margin-bottom: 50px;
  }

  .place-cost-average__per {
    display: inline-block;
  }

  .place-cost-average__people {
    @include symbol-base;
    text-decoration-skip-ink: none;

    display: inline-block;
  }
}