@keyframes sizeScale {
  0% {
      width:200px;
  }
  100% {
      width:300px;
  }
}

.demo1 {
  width: 100px;
  height: 100px;
  background-color: red;

  &:hover {
    animation-name: sizeScale;
    animation-duration: 0.25s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &[aria-selected="true"] {
    animation-name: sizeScale;
    animation-duration: 0.25s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode:forwards;
  }
}