---
title: Scroller
---
= stylesheet_link_tag "scroller"

.scroller.-scroller
  .scroller__container
    .scroller__scroll-aria
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star

.scroller
  .scroller__container
    .scroller__scroll-aria
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star
      .scroller__item
        %span.material-icons access_time
      .scroller__item
        %span.material-icons favorite
      .scroller__item
        %span.material-icons star