---
title: アコーディオン
---
= stylesheet_link_tag "accordion"

%h1 Expansion Panel

.accordion
  .accordion__panel
    %a.accordion__panel-head{ href: "#" }
      .accordion__panel-head-icon.material-icons
        keyboard_arrow_right
      .accordion__panel-head-title
        あいうえお１

  .accordion__panel{ data: { controller: "expansion", target: "expansion.content" }, aria: { hidden: "true" } }
    .accordion__panel-head{ data: { action: "click->expansion#toggle", target: "expansion.head" } }
      .accordion__panel-head-icon.material-icons{ data: { target: "expansion.icon" } }
        keyboard_arrow_right
      .accordion__panel-head-title
        あいうえお２
    .accordion__panel-content
      %img{ src: "https://picsum.photos/id/237/200/200" }

  .accordion__panel{ data: { controller: "expansion", target: "expansion.content" }, aria: { hidden: "false" } }
    .accordion__panel-head{ data: { action: "click->expansion#toggle", target: "expansion.head" } }
      .accordion__panel-head-icon.material-icons{ data: { target: "expansion.icon" } }
        keyboard_arrow_right
      .accordion__panel-head-title
        あいうえお３
    .accordion__panel-content
      %img{ src: "https://picsum.photos/id/237/200/200" }