.default-scroller {
  overflow: hidden;
  box-sizing: border-box;

  // 不要かもしれない __item の最初に margin をつけるのもありかもしれない
  &.-padding-M {
    padding: 0 1em;
  }

  .default-scroller__container {
    width: 100%;
    height: calc(100% + 2em); // スクロールバーの位置調整のため
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .default-scroller__scroll-aria {
    display: flex;
    max-width: 100%;
  }

  @at-root {
    .default-scroller__item {
      flex: 1;

      // &:first-child {
      //   margin-left: 1em;
      // }

      & + & {
        margin-left: 1em;
      }
    }
  }
}