---
title: UI一覧
---

%h1 UI Sample

%h2 UI

%h2 Animation

%ul
  %li
    %a{ href: "/animation/" } アニメーションサンプル

%h2 Typography

%ul
  %li
    %a{ href: "/typography" } タイポグラフィ案１
  %li
    %a{ href: "/typography2" } タイポグラフィ案２