.badge {
  background-color: $color-navy;
  border-radius: 10px;
  color: $color-white;
  padding: .4em .6em;
  text-decoration: none;
  line-height: 1;

  font-size: 12px;  // FIXME : タイポグラフィーを決めたら直す
}