//brand colors
$color-gold-D: #816938;
$color-gold: #ac8c4b;
$color-gold-2S: #d4c29d;
$color-gold-3S: #e2d6bd;
$color-gold-4S: #f0eadd;
$color-gold-5S: #f9f7f2;
$color-green-D: #269e87;
$color-green: #2fc3a7;
$color-green-2S: #8ae3d2;
$color-green-4S: #d4f5ee;
$color-green-5S: #f5fcfb;
$color-navy-D: #3b4b5b;
$color-navy: #536a80;
$color-navy-1S: #8198ae;
$color-navy-2S: #b0becc;
$color-navy-3S: #dee4ea;
$color-navy-4S: #f1f3f6;
$color-navy-5S: #f8f9fa;
$color-white: #ffffff;
$color-pink-D: #ff3265;
$color-pink: #ff658b;
$color-pink-1S: #ff7698;
$color-pink-2S: #ff98b2;
$color-pink-3S: #ffbacb;
$color-pink-4S: #ffdce5;
$color-pink-5S: #ffedf1;
$color-red-D: #e73613;
$color-red: #f0684e;
$color-red-4S: #fce0db;
$color-orange-D: #e67300;
$color-orange: #ff952b;
$color-orange-4S: #ffead5;
$color-blue-D: #1298d1;
$color-blue: #49beef;
$color-blue-4S: #d5f0fb;