.accordion {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin: 1em;
  padding: 1em;

  .accordion__panel {
    &[aria-hidden="false"] {
      .accordion__panel-content {
        max-height: 500px;
      }
    }
  }

  .accordion__panel-head {
    display: flex;
    cursor :pointer;
  }

  .accordion__panel-content {
    box-sizing: border-box;

    transition-duration: 0.15s;
    transition-delay: 0s;
    transition-property: max-height;
    transition-timing-function: ease-in;

    overflow-y: hidden;
    max-height: 0;
  }
}